.project{
  margin: 15px 0px;
  min-height: 280px;
  border-right: 2px solid #5BC0DE;
  border-bottom: 2px solid #5BC0DE;
  border-bottom-right-radius: 10px;
}
.ProjectTitle{
  margin-top: 0px;
}
.PojectDesctiption{
  text-align: justify;
}
.ProjectDate{
  text-align: right;
  font-style: italic;
  font-weight: bold;
  color: #2B689C;
}
.ProjectLink{
  text-align: right;
  font-weight: bold;
}
.tecnologies{
  margin: 5px 1px 5px 1px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 1000px) {
  .project{
    min-height: 350px;
  }
  .ProjectTitle{
    margin-top: 10px;
    text-align: center;
  }
}
